<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="author" content="Theodore Chiu">
	<title>Instagram download tool</title>

	<!-- BOOTSTRAP CSS CDN -->
	<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body>
	<div class="container" style="margin-top:25px;">
		<h1>Instagram Download tool</h1>

			<div class="form-group">
				<label for="link">Link</label>
				<input class="form-control" id="link" aria-describedby="emailHelp" placeholder="https://instagram.com/p/">
				<small id="emailHelp" class="form-text text-muted">
					Paste the link to the instagram post
				</small>
			</div>

			<div class="form-group">
				<label for="cookie">Cookie</label>
				<input class="form-control" id="cookie" placeholder="Cookie">
			</div>

			<button id="button" type="submit" class="btn btn-primary">Submit</button>

			<img src="static/doof_test.jpg" style="max-width:100%;margin-top: 25px">
	</div>

</body>

<script type=text/javascript>
  $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type=text/javascript>
	$(function() {
		$('button#button').bind('click', function() {
			$.getJSON($SCRIPT_ROOT + '/background_process_test', {
				link: $("input#link").val(),
				cookie: $("input#cookie").val()
			}, function(data) {
				// action here (image load)				
			});
			return false;
		});
	});
</script>

</html>